@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');


:root {

    --primary-color: #1D4ED8;
    --light-red: #FCA5A5;
    --off-white:#F3F4F6;
}

body {
    font-family: 'Source Sans Pro',
        sans-serif;
}

hr{
    margin : 2rem 0rem;
}

/** containers **/

.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/** Links **/

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color:white;
}
.link-secondary {

    color : var(--primary-color);
    border-radius: 0.5rem;
    border : 1px solid var(--primary-color);
}

/**lists**/

.list-non-bullet{
    list-style: none;
}

.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}

/**navigation**/

.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand{
    font-weight: bold;
    font-size: 1.1rem;
}

.navigation .link{
    color:white;
    
}

.navigation .nav-pills{
    text-align: right;
}

.navigation .link-active{
    font-weight: bold;
}

/**header**/

.hero{
    padding : 2rem;
}

.hero .hero-img{
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading{
    text-align: center;
    color: var(--light-red);
}

.hero .hero-heading .heading-inverted{
    color : var(--primary-color);
}

/** sections **/

.section {
    padding : 2rem;
}

.section h1{
    text-align: center;
}

.ow{
    background-color: var(--off-white);
}


/** footer **/

.footer {
    background-color: var(--primary-color);
    padding :2rem;
    text-align: center;
    color : white;
    border-top-right-radius: 1rem;
}

.footer .footer-header{

    font-weight: bold;
    font-size: large;

}

.footer .link{
    color: white;
    margin: auto;
}

.footer ul{
    padding-inline-start
}