@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

body{
    font-family: 'Source Sans Pro', 
    sans-serif;
}

/** containers **/

.container{
    padding-left: 1rem;
    padding-right: 1rem;
}

.center-container{
    max-width: 600px;
    margin: auto;
}
